@media (max-width:375px){
body{
    background-image:url('images/bg-pattern-top-mobile'), url('images/bg-pattern-bottom-desktop.svg');
    background-position:top, bottom;
    background-repeat:no-repeat;
    font-family:'spartan', sans-serif;
    font-size:15px;
}

h1{
    line-height:32px;
    color:hsl(300, 43%, 22%);
    letter-spacing:1.14px;
    font-weight:700;
}
}